html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url('https://img.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg?w=740&t=st=1677759403~exp=1677760003~hmac=c04669d235047bab68fdfe23837a5d98a652ee4368213628bdaf88035f475f0f');
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #45a049;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #eee;
  background-image: url('https://img.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg?w=740&t=st=1677759403~exp=1677760003~hmac=c04669d235047bab68fdfe23837a5d98a652ee4368213628bdaf88035f475f0f');

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
